
{% extends "base.html" %}
{% load i18n allauth %}
{% block title %}{% trans "Set Password" %}{% endblock %}   

{% block content %}
<div class="auth-container">
        {% element h1 %}
            {% trans "Set Password" %}
        {% endelement %}
        {% url 'account_set_password' as action_url %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans 'Set Password' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
