<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Delete Review?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete your review?</p>
        <p>This action can't be undone.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-muted" data-bs-dismiss="modal">Cancel</button>

        <form id="deleteReviewForm" method="post" action="#">
          {% csrf_token %}
          <button type="submit" class="btn btn-delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
